[data-tooltip] span.material-icons {
    color: #808080;
    font-size: 22px;
    position: relative;
    top: 7px;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover:after {
    font-family: Verdana;
    text-align: initial;
    visibility: visible;
    font-size: 11px;
    opacity: 1;
    z-index: 1;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    color: #222222;
    font-size: 14px;
    position: absolute;
    top: 35px;
    left: 0;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    padding: 5px;
}

[data-tooltip]:hover:before {
    content: "";
    position: absolute;
    top: 25px;
    right: 6px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #dddddd transparent;
    z-index: 1;
}

.tooltip-custom {
    position: relative;
    display: inline-block;
}

.tooltip-custom .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-custom .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-custom:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}