/* MENU */
.MenuWithLink{cursor:pointer !important;}
.MenuBovespaCSS{}
.MenuBovespaCSS .rootGroup{
	position:relative;
	bottom:-3px;
}
.MenuBovespaCSS a{text-decoration:none;}
.MenuBovespaCSS .link{
	line-height:19px;
	text-decoration:none;
	color:#000000;
	position:relative;
	float:left;
}
.MenuBovespaCSS .rootGroup .link{background:url(Imagem/LapSisLatEsq.gif) no-repeat left bottom;}
.MenuBovespaCSS .rootGroup .item{background:url(Imagem/LapSisFundo.gif) repeat-x center bottom;}
.MenuBovespaCSS .link:focused,
.MenuBovespaCSS .focused{outline:0;}
.MenuBovespaCSS .expanded{z-index:10000;}
.MenuBovespaCSS .rootGroup .link:hover,
.MenuBovespaCSS .rootGroup .focused,
.MenuBovespaCSS .rootGroup .expanded{color:#0C7766;}
.MenuBovespaCSS .rootGroup .link .text{
	font:normal normal normal 10px Verdana;
	background:url(Imagem/LapSisLatDir.gif) no-repeat right bottom;
}
.MenuBovespaCSS .group{}
.MenuBovespaCSS .group .item{}
.MenuBovespaCSS .group .link{
	text-decoration:none;
	color:#000000;
	background-image:none;
	background:url(Imagem/MarcadorSeta00.gif) no-repeat 9px 7px;
	border-bottom:solid 1px #cccccc;
}
.MenuBovespaCSS .group .link:hover,
.MenuBovespaCSS .group .focused,
.MenuBovespaCSS .group .expanded{
	color:#0C7766;
	background:#fbebeb url(Imagem/MarcadorSeta00.gif) no-repeat 9px 7px;
}
.MenuBovespaCSS .text{padding:3px 16px 5px 14px;}
.MenuBovespaCSS .group .link .text{
	font-size:10px;
	background-image:none;
}
/* <expand arrows styling> */
.MenuBovespaCSS .group .link .expandLeft{}
.MenuBovespaCSS .group .link .expandRight{}
.MenuBovespaCSS .group .link:hover .expandLeft,
.MenuBovespaCSS .group .focused .expandLeft,
.MenuBovespaCSS .group .expanded .expandLeft{}
.MenuBovespaCSS .group .link:hover .expandRight,
.MenuBovespaCSS .group .focused .expandRight,
.MenuBovespaCSS .group .expanded .expandRight{}
/* </expand arrows styling> */
.MenuBovespaCSS .horizontal .last{border-right:0;}
.MenuBovespaCSS .vertical .item{border-bottom:1px solid #353535;}
.MenuBovespaCSS .vertical .last{border-bottom:0;}
.RadMenu_CVM_rtl .horizontal .item{border-left:0;}
.MenuBovespaCSS .rootGroup .group .item{
	border-right:0;
	border-bottom:0;
	background-image:none;
}
.MenuBovespaCSS .group{
	border:1px solid #cccccc;
	border-bottom:none;
	background-color:#f9f9f9;
}
.MenuBovespaCSS .group .expanded{z-index:11;}
.MenuBovespaCSS .topArrowDisabled,
.MenuBovespaCSS .bottomArrowDisabled,
.MenuBovespaCSS .leftArrowDisabled,
.MenuBovespaCSS .rightArrowDisabled{display:none;}
.MenuBovespaCSS .topArrow,
.MenuBovespaCSS .bottomArrow,
.MenuBovespaCSS .leftArrow,
.MenuBovespaCSS .rightArrow{
	font-size:0;
	line-height:0;
	color:#fff;
}
.MenuBovespaCSS .topArrow,
.MenuBovespaCSS .bottomArrow{
	height:10px;
	width:100%;
}
.MenuBovespaCSS .bottomArrow{background-position:center -18px;}
.MenuBovespaCSS .leftArrow,
.MenuBovespaCSS .rightArrow{
	width:10px;
	height:100%;
}
.MenuBovespaCSS .rightArrow{background-position:-18px center;}
.MenuBovespaCSS .rootGroup .item .disabled .text,
.MenuBovespaCSS .group .item .disabled .text{color:#999;}
.MenuBovespaCSS .rootGroup .item .disabled{background:none;}
.MenuBovespaCSS .group .item .disabled{}
.MenuBovespaCSS .horizontal .separator{
	height:20px;
	width:1px;
}
.MenuBovespaCSS .rootGroup .separator{border-top:1px solid #676767;}
.MenuBovespaCSS .vertical .separator{
	height:1px;
	margin:3px 0;
	border:0;
}
.MenuBovespaCSS .separator .text{display:none;}
.MenuBovespaCSS .slide{margin:-1px 0 0 -1px !important;}
* html .MenuBovespaCSS .vertical .slide{margin-left:-2px !important;}
* html .MenuBovespaCSS .horizontal .slide{margin-top:-2px !important;}
.RadMenu_CVM_rtl .slide{margin:-1px 0 0 2px !important;}
* html .RadMenu_CVM_rtl .vertical .slide{margin-left:3px !important;}
* html .RadMenu_CVM_rtl .horizontal .slide{
	margin-top:-2px !important;
	margin-left:0 !important;
}
.MenuBovespaCSS .rootGroup .item .disabled:hover{}